<div class="container">
    <div class="myCard">
        <div class="row">
            <div class="col-md-6">
                <div class="myLeftCtn">
                    <form class="myForm text-center">
                        <header style="font-size: 2em;">Sign In</header>
                        <div class="form-group p-2">
                            <input type="text" class="formControl myInput" placeholder="Username" #userName required>
                        </div>

                        <div class="form-group p-2">
                            <input type="password" class="formControl myInput" placeholder="Password" #userPassword
                                required>
                        </div>

                        <!-- Calling SignIn Api from AuthService -->
                        <div class="formGroup p-2">
                            <input type="button" class="butt" value="Sign In" style="cursor: pointer;"
                                (click)="authService.SignIn(userName.value, userPassword.value)">
                        </div>
                        <div class="formGroup p-2">
                            <span class="or"><span class="orInner">Or</span></span>
                        </div>
                        <!-- Calling GoogleAuth Api from AuthService -->
                        <div class="formGroup p-2">
                            <button type="button" style="cursor: pointer;" class="btn googleBtn"
                                (click)="authService.GoogleAuth()">
                                <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in"
                                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                            </button>
                        </div>
                        <div class="forgotPassword">
                            <span routerLink="/forgot-password" style="cursor: pointer;"><u>Forgot Password?</u></span>
                        </div>

                        <div class="form-group p-2">
                            <span style="display: inline-flex; align-items: baseline;">Don't have an account?
                                &nbsp;<span style="cursor: pointer;" routerLink="/sign-up">
                                    <header>Sign Up</header>
                                </span></span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="myRightCtn">
                    <div class="box">
                        <header>Welcome!</header>

                        <p>Our heartiest welcome goes to you. Congratulations on being part of our growing and dynamic
                            team here! We're honored to have you with us!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>